.features {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
}

.featureIcon {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.2rem;
  color: var(--ifm-color-emphasis-700);
}

.features .col {
  margin-bottom: 2rem;
}
